<template>
  <style>
    :host {
      display: block;
      width: 100%;
      min-height: 100%;
      margin: 0 auto;
      padding-top: 90px;
      box-sizing: border-box;
      /*@media (min-width:1500px) {*/
        /*max-width: 1450px;*/
      /*}*/
      /*@media (min-width:1900px) {*/
        /*max-width: 1810px;*/
      /*}*/
      /*@media (max-width:1100px) {*/
        /*max-width: 720px;*/
      /*}*/
      /*@media (max-width:720px) {*/
        /*max-width: 360px;*/
      /*}*/
      /*@media (max-width:400px) {*/
        /*width: 100%;*/
      /*}*/
    }

  </style>
  <link rel="stylesheet" href="/components/app-calendar/app-calendar.css">
  <div class="calendar__inner"></div>
  <span class="calendar__btn">Взглянуть на график</span>
  <div class="calendar__canvas-inner">
    <canvas id="myCanvas" width="400" height="400" />
  </div>

</template>

<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
    appViewCalendarFactory.$inject = ['app.main.model.view', 'app.main.util.Emitter', 'app.main.component.appMonth', 'app.main.component.appNote'];
    Core.module('app.main').component('app.main.component.appCalendar', appViewCalendarFactory);

    function appViewCalendarFactory(viewModel, Emitter, AppMonth, AppNote) {

      class AppCalendar extends HTMLElement {
        constructor() {
          super();
          const shadowRoot = this.attachShadow({mode: 'open'});
          this.rootElement = template.content.cloneNode(true);
          this.shadowRoot.appendChild(this.rootElement);
          this.element = new Emitter();

          /* const */
          const container = shadowRoot.querySelector('.calendar__inner'),
                btn = shadowRoot.querySelector('.calendar__btn');
          /* end */

          container.appendChild(new AppMonth());

          /* viewModel from app-day */
          viewModel.subscribeMainViewName(name => {
            const arr = [],
                  trueArr = [];

            let storageArr = localStorage.getItem('calendar');
            storageArr = JSON.parse(storageArr);

            for(let key in storageArr) {
              storageArr[key].forEach((element) =>{
                arr.push(element.status);

              })
            }
            find(arr, 'Выполненно');
            function find(arr, value) {
              for (var i = 0; i < arr.length; i++) {
                if (arr[i] === value) {
                  trueArr.push(value);
                };
              }
            }

            /* check arr.length for btn */
            if(arr.length !== 0){
              btn.style.display = 'inline-block';
            } else {
              btn.style.display = '';
            }
            /* end */

            /* set value for canvas */
            let completedTasks = trueArr.length,
                allTasks = arr.length;
            this.canvas(completedTasks, allTasks, shadowRoot);
          /* end */



          }, true);

          /* click for scroll bottom */
          btn.addEventListener("click", event => {
            window.scrollBy({
              top: document.body.scrollHeight || document.documentElement.scrollHeight,
              behavior: 'smooth'
            });
          })
          /* end */

        }

        canvas(completedTasks, allTasks, shadowRoot) {

          const canvas = shadowRoot.getElementById('myCanvas'),
                ctx = canvas.getContext('2d'),
                data = {
                  label: "Выполненно",
                  value: completedTasks,
                  color: '#fba66e'
                },
                middle = {
                  x: canvas.width / 2,
                  y: canvas.height / 2,
                  radius: canvas.height / 2
                };


          let previousRadian,
              total = allTasks,
              percentage = parseInt((data.value / total) * 100),
              radian = (Math.PI * 2) * (data.value / total),
              labelText =  data.label + " " + percentage  + "%";

          /* background */
          ctx.beginPath();
          ctx.arc(middle.x, middle.y, middle.radius, 0, 2 * Math.PI);
          ctx.closePath();
          ctx.stroke();
          ctx.fillStyle = "#9aa5ab";
          ctx.fill();
          /* end */

          previousRadian = previousRadian || 0;
          ctx.beginPath();
          ctx.fillStyle = data.color;
          ctx.moveTo(middle.x, middle.y);
          ctx.arc(middle.x, middle.y, middle.radius - 2, previousRadian, previousRadian + radian, false);
          ctx.closePath();
          ctx.fill();
          ctx.save();
          ctx.translate(middle.x, middle.y);
          ctx.fillStyle = "white";
          ctx.font = middle.radius / 9 + "px Roboto, sans-serif";
          ctx.rotate(previousRadian + radian);
          ctx.fillText(labelText, ctx.measureText(labelText).width / 50, 0);
          ctx.restore();

          previousRadian += radian;

        }

      }
      customElements.define('app-calendar', AppCalendar);
      return AppCalendar;
    }
  })();
</script>