<template id="appRoot">
  <style>
    @import "/components/app-root/app-root.css";
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
  <app-header></app-header>
  <app-calendar></app-calendar>
</template>

<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
  AppRootFactory.$inject = [];
  Core.module('app.main').component('app.main.component.appRoot', AppRootFactory);
  function AppRootFactory() {
    class AppRoot extends HTMLElement {
      constructor() {
        super();
        this.shadow = this.attachShadow({mode: 'open'});
        this.rootElement = template.content.cloneNode(true);
        this.shadow.appendChild(this.rootElement);
      }
    }
    customElements.define('app-root', AppRoot);
    return AppRoot;
  }
  })();
</script>