<template>
  <style>
    @import "/components/app-root/app-root.css";
    :host {
      display: block;
      width: 100%;
      min-height: 100%;
    }
  </style>
  <app-header></app-header>
</template>

<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
  AppRootFactory.$inject = ['app.main.model.view', 'app.main.component.appCalendar'];
  Core.module('app.main').component('app.main.component.appRoot', AppRootFactory);
  function AppRootFactory(viewModel, AppCalendar) {
    class AppRoot extends HTMLElement {
      constructor() {
        super();
        this.shadow = this.attachShadow({mode: 'open'});
        this.rootElement = template.content.cloneNode(true);
        this.shadow.appendChild(this.rootElement);
        this.renderCalendar();
      }
      /* method render */
      renderCalendar() {
        const container = this.shadow.querySelector('app-calendar');
        window.scrollTo(0, 0);
        if(container) {
          setTimeout(() => {
            /* remove last calendar */
            this.shadow.querySelector('app-calendar').remove();
            /* end */
          }, 200);
        }
        /* add new calendar */
        this.shadow.appendChild(new AppCalendar());
        /* end */
      }
      /* end */
    }

    customElements.define('app-root', AppRoot);
    return new AppRoot();
  }
  })();
</script>