@roboto: 'Roboto';
@robotoSlab: 'Roboto Slab';

@color-black: #333333;
@color-blue-opacity: #D2F3FB;
@color-light-black: #44566c;
@color-blue: #1f8ceb;
@color-dark-blue: #3095EC;
@color-light-blue: #1ebfe9;
@color-super-light-blue: #409DED;
@color-green: #3bc7ab;
@color-green-opacity: #D8F4EF;
@color-dark-light-green: #2ECFAE;
@color-dark-gray: #556066;
@color-gray: #9aa5ab;
@color-gray-blue: #f6f9fb;
@color-gray-white: #FDFDFD;
@color-default-gray: #c4c7cc;
@color-light-dark-gray: #E9EBF2;
@color-light-gray: #e4e5e9;
@color-super-light-gray: #f5f5f7;
@color-extra-light-gray: #f0f0f0;
@color-light-green: #beeae3;
@color-red: #f35e5e;
@color-red-opcatity: #FBE2D6;
@color-light-red: #FEF7F7;
@color-dark-red: #e83434;
@color-orange: #e86d31;
@color-dar-orange: #dc672e;
@color-gold: #e9a93f;
@color-gold-opacity: #FDF3D3;
@color-white: #fff;
@color-transparent: transparent;

@media-max-width-360: ~"all and (max-width: 360px)";
@media-max-width-400: ~"all and (max-width: 400px)";
@media-max-width-720: ~"all and (max-width: 720px)";
@media-max-width-920: ~"all and (max-width: 920px)";
@media-max-width-1100: ~"all and (max-width: 1100px)";
@media-min-width-1500: ~"all and (min-width: 1500px)";
@media-min-width-1900: ~"all and (min-width: 1900px)";

@border-default: solid 1px @color-light-gray;
@border-radius-default: 4px;
@border-radius-full: 100%;
@border-radius-5: 5px;
@border-radius-20: 20px;
@border-box: border-box;

.transition-color() {
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.transition-fill-color() {
  -webkit-transition: fill .2s ease;
  transition: fill .2s ease;
}

.transition-border-color() {
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}

.transition-bg-color() {
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
}

.transition-all() {
  transition: all .2s ease;
  -vendors-transition: all .2s ease;
}

.transition-shadow() {
  -webkit-transition: box-shadow .2s ease;
  transition: box-shadow .2s ease;
}

.disabled() {
  pointer-events: @none;
}

.transition() {
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  -moz-transition-delay: .1s;
}

.transition-open() {
  -webkit-transition: .3s ease-out;
  -webkit-transition-delay: .1s;
  -o-transition: .3s ease-out;
  -o-transition-delay: .1s;
  -moz-transition: .3s ease-out;
  -moz-transition-delay: .1s;
  transition: .3s ease-out;
  transition-delay: .1s;
  opacity: 1;
}

.user-select () {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.item-prop () {
  border-radius: @border-radius-default;
  background-color: @color-white;
  box-shadow: -7px 8px 16px 0 rgba(58, 70, 93, 0.07), -1px 1px 4px 0 rgba(58, 70, 93, 0.12);
}

.form-prop () {
  display: block;
  font-size: 14px;
  color: @color-dark-gray;
  border-radius: @border-radius-default;
  border: @border-default;
  box-sizing: @border-box;
  width: 100%;
  .appearance-none();
  &::-webkit-search-cancel-button {
    display: none;
  }
  &::-webkit-input-placeholder {
    color: @color-gray;
  }
  .transition-border-color();
  &:hover {
    border-color: @color-default-gray;
  }
  &:focus {
    border-color: @color-light-blue;
  }
}

.appearance-none() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.max-width() {
  max-width: 1085px;
  margin: 0 auto;
  @media @media-min-width-1500 {
    max-width: 1450px;
  }
  @media @media-min-width-1900 {
    max-width: 1810px;
  }
}

.flex-justify-content() {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.flex-justify-content-start() {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-justify-content-center() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*icons*/
[class^="icon-"], [class*=" icon-"] {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 1;
  cursor: pointer;
  path, polygon {
    .transition-fill-color();
    fill: @color-gray;
  }
  &:hover {
    path, polygon {
      fill: @color-black;
    }
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: @color-gray-blue;
  -webkit-font-smoothing: auto;
  font-family: @roboto, sans-serif;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 6;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, .03);
  background-color: @color-white;
  border: 1px solid @color-super-light-gray;
  &__inner {
    .flex-justify-content();
    .max-width();
    height: 70px;
    padding: 0 15px;
  }
  &__today {
    font-size: 16px;
    font-weight: bold;
    &-name {
      margin: 0;
      color: @color-blue;
    }
    &-date {
      margin: 0;
      color: @color-gray;
    }
  }
  &__list {
    margin-left: auto;
    .flex-justify-content();
    position: relative;
    z-index: 1;
    @media @media-max-width-920 {
      padding: 30px 10px 20px;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100px;
      background-color: @color-white;
      overflow: auto;
      box-shadow: -1px 1px 4px 0 rgba(58, 70, 93, .12);
      transform: translateX(100%);
      .transition-all();
    }
    &_open {
      transform: translateX(0%);
    }
  }
  &__item {
    display: block;
    font-weight: bold;
    color: @color-gray;
    font-size: 16px;
    padding: 26px 12px;
    @media @media-max-width-920 {
      flex: 1 0 100%;
      padding: 12px;
      box-sizing: border-box;
    }
    &-active {
      position: absolute;
      height: 2px;
      background-color: @color-blue;
      bottom: 0;
      transition: .4s ease-out;
      transition-delay: .1s;
      @media @media-max-width-920 {
        display: none;
      }
    }
  }
  &__icon {
    &-burger {
      display: none;
      @media @media-max-width-920 {
        display: inline-block;
      }
    }
    &-close {
      display: none;
      position: absolute;
      top: 5px;
      left: 16px;
      z-index: 3;
      @media @media-max-width-920 {
        display: inline-block;
      }
    }
  }
}

.main {
  height: 100%;
  padding-top: 90px;
}

.calendar {
  .max-width();
  @media @media-max-width-1100 {
    max-width: 720px;
  }
  @media @media-max-width-720 {
    max-width: 360px;
  }
  @media @media-max-width-400 {
    width: 100%;
  }
  &__week {
    .flex-justify-content-start();
    padding: 0 0 30px;
    margin-bottom: 50px;
  }
  &__icon {
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 16px;
    }
  }
  &__label {
    font-weight: bold;
    color: @color-gray;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    display: block;
    margin: 0 8px 8px
  }
  &__day {
    width: 330px;
    flex-shrink: 0;
    display: block;
    margin: 0 15px;
    padding-top: 32px;
    @media @media-max-width-360 {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    &-name {
      color: @color-black;
    }

  }
  &__note, &__note-form {
    .item-prop();
  }
  &__note {
    margin-bottom: 20px;
    padding: 16px;
    &-text {
      font-size: 12px;
      white-space: pre-line;
      font-weight: 400;
      color: @color-default-gray;
      line-height: 1;
      &_black {
        color: @color-black;
        margin: 7px 0 20px;
      }
      &_blue {
        color: @color-blue;
      }
    }
  }
  &__note-form {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    padding: 50px 16px 16px 16px;
    z-index: 2;
  }
  &__inner {
    min-height: 360px;
    display: block;
    padding: 16px;
    position: relative;
    z-index: 1;
    background-color: @color-white;
    box-shadow: -1px 1px 4px 0 rgba(58, 70, 93, .12);
    border-radius: @border-radius-default;
    position: relative;
    z-index: 1;
    @media @media-max-width-360 {
      border-radius: 0;
    }
  }
  &__btn {
    &-add {
      line-height: 1;
      display: inline-block;
      cursor: pointer;
      color: @color-gray;
      &:hover {
        &-text {
        }
        color: @color-black;
        path {
          fill: @color-black;
        }
      }
    }
    &-text {
      display: inline-block;
      vertical-align: middle;
      .transition-color();
    }
    &-delete {
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      cursor: pointer;
      path {
        fill: @color-red;
      }
    }
    &-send {
      width: 53px;
      height: 40px;
      font-size: 16px;
      background: @color-transparent;
      border-radius: @border-radius-default;
      .transition-border-color();
      cursor: pointer;
      &:hover {
        border-color: @color-black;
      }
      &:disabled {
        background-color: @color-default-gray;
        cursor: initial;
      }
    }
  }
  &__row {
    margin-bottom: 24px;
    position: relative;
    z-index: 2;
    &-label {
      display: block;
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: @color-gray;
      margin-bottom: 6px;
    }
  }
  &__input, &__textarea, &__select {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    min-height: 40px;
    padding: 12px 8px;
    cursor: pointer;
    width: 100%;
    font-weight: 400;
    color: @color-dark-gray;
    font-size: 14px;
    background-color: @color-white;
    border: solid 1px @color-light-gray;
    border-radius: @border-radius-default;
    box-sizing: border-box;
    .transition-border-color();
    &:hover {
      border-color: @color-black;

    }
  }
  &__select {
    background-image: url(../interface/arrow_select.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    .appearance-none();
  }
  &__tooltip {
    display: none;
    position: absolute;
    right: 3px;
    top: -45px;
    z-index: 3;
    border-radius: @border-radius-default;
    background-color: @color-blue;
    color: @color-white;
    font-size: 11px;
    font-weight: 400;
    padding: 8px 10px;
    width: 220px;
    &:before {
      content: "";
      position: absolute;
      right: 3px;
      bottom: -4px;
      height: 12px;
      background-color: @color-blue;
      width: 12px;
      position: absolute;
      transform: rotate(45deg);
    }
  }
  &__info {
    display: inline-block;
    position: absolute;
    top: -5px;
    right: -4px;
    z-index: 2;
    &:hover {
      & .calendar__tooltip {
        display: block;
      }
    }
  }
}