<template id="appWeek">
  <style>
    :host {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0 0 30px;
      margin-bottom: 50px;
    }
  </style>
</template>

<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
    appViewWeekFactory.$inject = ['app.main.model.view','app.main.model.calendar'];
    Core.module('app.main').component('app.main.component.appViewMain', appViewWeekFactory);
    function appViewWeekFactory(viewModel, calendarModel) {
      class AppWeek extends HTMLElement {
        constructor() {
          super();
          const shadowRoot = this.attachShadow({mode: 'open'}),
                box = document.querySelector('app-week');

          this.rootElement = template.content.cloneNode(true);
          this.shadowRoot.appendChild(this.rootElement);

          const attr = this.getAttribute('data-id');

          for (let z = 0; z < calendarModel[attr].length; z++) {
            shadowRoot.innerHTML +='<app-day date="'+ calendarModel[attr][z].date +'" data-name="'+ calendarModel[attr][z].dayName +'"></app-day>';
          }
        }

      }

      customElements.define('app-week', AppWeek);
      return AppWeek;
    }
  })();
</script>