<template>
  <style>
    :host {
      display: block;
      width: 100%;
    }
    .container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 0 0 30px;
      margin-bottom: 50px;
    }
  </style>
  <div class="container"></div>
</template>

<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
    appViewWeekFactory.$inject = ['app.main.component.appDay'];
    Core.module('app.main').component('app.main.component.appWeek', appViewWeekFactory);
    function appViewWeekFactory(AppDay) {
      class AppWeek extends HTMLElement {
        constructor(data) {

          super();
          const shadowRoot = this.attachShadow({mode: 'open'});

          this.rootElement = template.content.cloneNode(true);
          this.shadowRoot.appendChild(this.rootElement);

          const container = shadowRoot.querySelector('.container');

          let week = data.map(day => new AppDay(day));

          week.forEach(day => {
            container.appendChild(day);
          });

        }

      }

      customElements.define('app-week', AppWeek);
      return AppWeek;
    }
  })();
</script>