<link rel="import" href="../app-week/app-week.html">
<template id="appMonth">
  <style>
    :host {
      display: block;
      width: 100%;
      height: 100%;
    }
  </style>
  <app-week></app-week>
</template>

<script>
  (() => {

    const tmpl = document.currentScript.ownerDocument.querySelector('#appMonth');

  customElements.define('app-month', class extends HTMLElement {
    constructor() {
      super();

      let rootElem = tmpl.content.cloneNode(true),
        shadowRoot = this.attachShadow({mode: 'open'}),
        isOpen = false;

      shadowRoot.appendChild(rootElem);

    }
  });

  })();
</script>