<template>
  <style>
    :host {
      display: block;
      width: 100%;
      min-height: 100%;
      height: 100%;
    }
  </style>
  <div class="container"></div>
</template>

<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
    appViewMonthFactory.$inject = ['app.main.model.calendar', 'app.main.component.appWeek'];
    Core.module('app.main').component('app.main.component.appMonth', appViewMonthFactory);
    function appViewMonthFactory(calendarModelService, AppWeek) {

      class AppMonth extends HTMLElement {
        constructor() {
          super();
          const shadowRoot = this.attachShadow({mode: 'open'});
          this.rootElement = template.content.cloneNode(true);

          this.shadowRoot.appendChild(this.rootElement);

          const container = shadowRoot.querySelector('.container');

          /* set varible and call app-week and with dates*/
          let weeks = calendarModelService.getCurrentMonthWeeks().map(week => new AppWeek(week));
          /* end */

          /* add week */
          weeks.forEach(week => container.appendChild(week));
          /* end */

        }

      }
      customElements.define('app-month', AppMonth);
      return AppMonth;
    }
  })();
</script>