<template>
  <style>
    :host {
      width: 330px;
      flex-shrink: 0;
      display: block;
      margin: 0 15px;
      padding-top: 32px;
      @media (max-width: 360px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  </style>
  <link rel="stylesheet" href="/components/app-day/app-day.css">
    <label class="day__label"></label>
    <div class="day__inner">
      <div class="day__note-container">
      </div>
      <span class="day__btn-add">
      <i class="icon-add">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="#9AA5AB"
                    d="M0.530276514,8.03380613 C0.234829923,8.03380613 0,7.79147055 0,7.49618369 C0,7.20089683 0.234829923,6.96619387 0.530276514,6.96619387 L6.96184809,6.96619387 L6.96184809,0.53762244 C6.96232539,0.242335581 7.20479206,0 7.50023865,0 C7.79568524,0 8.03051516,0.242335581 8.03051516,0.53762244 L8.03051516,6.96619387 L14.4620867,6.96619387 C14.7575333,6.96619387 15,7.20089683 15,7.49618369 C15,7.79147055 14.7575333,8.03380613 14.4620867,8.03380613 L8.03051516,8.03380613 L8.03051516,14.4623776 C8.03051516,14.7576644 7.79568524,15 7.50023865,15 C7.20479206,15 6.96232539,14.7576644 6.96232539,14.4623776 L6.96232539,8.03380613 L0.530276514,8.03380613 Z"
                    transform="translate(5 5)"></path>
          </svg>
      </i>
      <span class="day__btn-add-text">Добавить заметку</span>
    </span>
    </div>

</template>
<script>
  (() => {
    const template = document.currentScript.ownerDocument.querySelector('template');
    appViewDayFactory.$inject = ['app.main.model.view', 'app.main.component.appNote', 'app.main.component.appNoteView'];
    Core.module('app.main').component('app.main.component.appDay', appViewDayFactory);
    function appViewDayFactory(viewModel, AppNote, AppNoteView) {

      class AppDay extends HTMLElement {
        constructor(data) {

          super();
          const shadowRoot = this.attachShadow({mode: 'open'});
          this.rootElement = template.content.cloneNode(true);
          shadowRoot.appendChild(this.rootElement);
          this.noteContainer = shadowRoot.querySelector('.day__note-container');
          this.noteInner = shadowRoot.querySelector('.day__inner');
          this.noteViewVal = '';
          this.data = data;
          this.body = document.querySelector('body');
          this.noteInner.style.zIndex = '';

          let label =  shadowRoot.querySelector('.day__label');

          label.innerText = `${data.dayName}, ${data.date}`;

          /* events for component */
          shadowRoot.addEventListener('click', event => {
            let target = event.target;

            if(target.tagName === 'SPAN') {
              this.createNote();
            }

          }, false);
          /* end */

          /* render note-view */
          this.render();
          /* end */

          /*event for app-note*/
          shadowRoot.addEventListener("changeNote",event => {
            this.noteViewVal = event.detail.data;
            this.editNote(this.noteViewVal);
            this.setStyle();
          });
          /* end */

        }
        /* method create note */

        /* set style for body */
        setStyle(){
          this.body.style.overflow = 'hidden';
          this.noteInner.style.zIndex = '6';
        }
        /* end */

        /* remove style for body */
        removeStyle(){
          this.body.style.overflow = '';
          this.noteInner.style.zIndex = '';
        }
        /* end */

        /* method create note */
        createNote() {
          let el = new AppNote(this.data);

          this.setStyle();

          el.subscribeNoteChange(value => {
            this.render();
            this.removeStyle();
          })

          this.noteContainer.appendChild(el);

        }
        /* end */

        /* method edit note */
        editNote(noteViewVal) {
          let el = new AppNote(noteViewVal);

          el.subscribeNoteChange(value => {
            this.render();
            this.removeStyle();
          })

          this.noteContainer.appendChild(el);

          this.setStyle();
        }
        /* end */

        /* method render note */
        render() {

          this.noteContainer.innerHTML = '';

          let storageArr = null,
              calendarKey = [this.data.year, this.data.month, this.data.day].join('-');

          storageArr = localStorage.getItem('calendar');
          storageArr = storageArr ? JSON.parse(storageArr) : {};

          if(storageArr[calendarKey]) {

            /*viewModel for app-calendar*/
            viewModel.setMainViewName();
            /* end */

            storageArr[calendarKey].forEach((item, i) => {
              item.ind = i;
              item.day = this.data.day;
              item.month = this.data.month;
              item.year = this.data.year;
              this.noteContainer.appendChild(new AppNoteView(item));
            })
          }

        }
        /* end */


      }

      customElements.define('app-day', AppDay);
      return AppDay;
    }
  })();
</script>