*:focus {
  outline: none;
}
.day__inner {
  min-height: 360px;
  display: block;
  padding: 16px;
  background-color: #fff;
  box-shadow: -1px 1px 4px 0 rgba(58, 70, 93, 0.12);
  border-radius: 4px;
  position: relative;
  z-index: 0;
  text-align: left;
}
@media (max-width: 360px) {
  .day__inner {
    border-radius: 0;
  }
}
.day__label {
  font-weight: bold;
  color: #9aa5ab;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  display: block;
  margin: 0 8px 8px;
}
.day__btn-add {
  position: relative;
  z-index: 1;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  color: #9aa5ab;
}
.day__btn-add [class^="icon-"],
.day__btn-add [class*=" icon-"] {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 1;
  cursor: pointer;
}
.day__btn-add [class^="icon-"] path,
.day__btn-add [class*=" icon-"] path,
.day__btn-add [class^="icon-"] polygon,
.day__btn-add [class*=" icon-"] polygon {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
  fill: #9aa5ab;
}
.day__btn-add [class^="icon-"]:hover path,
.day__btn-add [class*=" icon-"]:hover path,
.day__btn-add [class^="icon-"]:hover polygon,
.day__btn-add [class*=" icon-"]:hover polygon {
  fill: #333333;
}
.day__btn-add-text {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.day__btn-add:hover {
  color: #333333;
}
.day__btn-add:hover path {
  fill: #333333;
}
.day__btn-add:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.day__note {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: -7px 8px 16px 0 rgba(58, 70, 93, 0.07), -1px 1px 4px 0 rgba(58, 70, 93, 0.12);
  margin-bottom: 20px;
  padding: 16px;
}
.day__note-text {
  font-size: 12px;
  white-space: pre-line;
  font-weight: 400;
  color: #c4c7cc;
  line-height: 1;
}
.day__note-text_black {
  color: #333333;
  margin: 7px 0 20px;
}
.day__note-text_blue {
  color: #1f8ceb;
}
