*:focus {
  outline: none;
}
.day__icon-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 16px;
  cursor: pointer;
}
.day__icon-close [class^="icon-"],
.day__icon-close [class*=" icon-"] {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 1;
  cursor: pointer;
}
.day__icon-close [class^="icon-"] path,
.day__icon-close [class*=" icon-"] path,
.day__icon-close [class^="icon-"] polygon,
.day__icon-close [class*=" icon-"] polygon {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
  fill: #9aa5ab;
}
.day__icon-close [class^="icon-"]:hover path,
.day__icon-close [class*=" icon-"]:hover path,
.day__icon-close [class^="icon-"]:hover polygon,
.day__icon-close [class*=" icon-"]:hover polygon {
  fill: #333333;
}
.day__inner {
  min-height: 360px;
  display: block;
  padding: 16px;
  background-color: #fff;
  box-shadow: -1px 1px 4px 0 rgba(58, 70, 93, 0.12);
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
@media all and (max-width: 360px) {
  .day__inner {
    border-radius: 0;
  }
}
.day__label {
  font-weight: bold;
  color: #9aa5ab;
  font-size: 16px;
  text-align: left;
  line-height: 20px;
  display: block;
  margin: 0 8px 8px;
}
.day__label-name {
  color: #333333;
}
.day__btn-add {
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  color: #9aa5ab;
}
.day__btn-add [class^="icon-"],
.day__btn-add [class*=" icon-"] {
  font-size: 24px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 1;
  cursor: pointer;
}
.day__btn-add [class^="icon-"] path,
.day__btn-add [class*=" icon-"] path,
.day__btn-add [class^="icon-"] polygon,
.day__btn-add [class*=" icon-"] polygon {
  -webkit-transition: fill 0.2s ease;
  transition: fill 0.2s ease;
  fill: #9aa5ab;
}
.day__btn-add [class^="icon-"]:hover path,
.day__btn-add [class*=" icon-"]:hover path,
.day__btn-add [class^="icon-"]:hover polygon,
.day__btn-add [class*=" icon-"]:hover polygon {
  fill: #333333;
}
.day__btn-add-text {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.day__btn-add:hover {
  color: #333333;
}
.day__btn-add:hover path {
  fill: #333333;
}
.day__btn-delete {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  cursor: pointer;
}
.day__btn-delete path {
  fill: #f35e5e;
}
.day__btn-send {
  width: 53px;
  height: 40px;
  font-size: 16px;
  background: transparent;
  border-radius: 4px;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  cursor: pointer;
}
.day__btn-send:hover {
  border-color: #333333;
}
.day__btn-send:disabled {
  background-color: #c4c7cc;
  cursor: initial;
}
.day__row {
  margin-bottom: 18px;
  position: relative;
  z-index: 2;
}
.day__row-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #9aa5ab;
  margin-bottom: 6px;
}
.day__input,
.day__textarea,
.day__select {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  min-height: 40px;
  padding: 12px 8px;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
  color: #556066;
  font-size: 14px;
  background-color: #fff;
  border: solid 1px #e4e5e9;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.day__input:hover,
.day__textarea:hover,
.day__select:hover {
  border-color: #333333;
}
.day__select {
  background-image: url(../../interface/arrow_select.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.day__tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 3px;
  top: -45px;
  z-index: 3;
  border-radius: 4px;
  background-color: #1f8ceb;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  padding: 8px 10px;
  width: 220px;
  transition: all 0.2s ease;
  -vendors-transition: all 0.2s ease;
}
.day__tooltip:before {
  content: "";
  right: 3px;
  bottom: -4px;
  height: 12px;
  background-color: #1f8ceb;
  width: 12px;
  position: absolute;
  transform: rotate(45deg);
}
.day__info {
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -4px;
  z-index: 2;
  cursor: pointer;
}
.day__info:hover .day__tooltip {
  opacity: 1;
  visibility: visible;
}
.day__note,
.day__note-form {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: -7px 8px 16px 0 rgba(58, 70, 93, 0.07), -1px 1px 4px 0 rgba(58, 70, 93, 0.12);
}
.day__note {
  margin-bottom: 20px;
  padding: 16px;
}
.day__note-text {
  font-size: 12px;
  white-space: pre-line;
  font-weight: 400;
  color: #c4c7cc;
  line-height: 1;
}
.day__note-text_black {
  color: #333333;
  margin: 7px 0 20px;
}
.day__note-text_blue {
  color: #1f8ceb;
}
.day__note-form {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  padding: 35px 16px 16px 16px;
  z-index: 2;
}
